#header {
	*/position: fixed;*/
	border-color: black;
	border-style: 0;
	display: flex;
	flex-direction: column;
}
#toolbar {
	height: 30px;
	border-color: black;
	border-style: 0;
	display: flex;
	flex-wrap: no-wrap;
	flex-shrink: 0;
	justify-content: space-between;
	font-family: arial;
	font-size: 0.8em;
	margin-top: 5px;
	color:darkslategrey;
}
.toolbarcenter {
	display:inline-flex;
	flex-direction: row
	flex-wrap: no-wrap;
	font-family: arial;
	font-size: 1.2em;
}
.toolbaricons {
	margin-left:5px;
	margin-right:5px;
	font-size: 1.3em;
}
.toolbariconstitle {
	margin-left:5px;
	margin-right:5px;
	font-size: 1.0em;
}@charset "UTF-8";
/* CSS Document */

.footerbar {
	display:inline-flex;
	flex-direction: row
	flex-wrap: no-wrap;
	font-family: arial;
	font-size: 1.2em;
}

.icon {
	padding-left: 8px;
	padding-right: 8px;
	padding-top:8px;
	padding-bottom:7px;
	border-radius: 2px;
	font-size:0.8em; 
	color:darkslategrey;
}

#Screen {
	/*background-image: url(Assets/Tabelle_flugzeiten_dietrich.png);*/
	background: -webkit-gradient(linear, left top, left bottom, from(#a9c6de), to(#e7ecf0)) fixed;
	/*background-color:;
	border-color:;*/
	height: 100vh;
	margin-left: 3vw;
	margin-right: 3vw;
	overflow: hidden;
}

table {
    font-family: arial, sans-serif;
    width: 100%;
	border-collapse: collapse;
	
}

caption {
	margin-left: 5px;
	margin-top: 50px;
	margin-bottom: 5px;
	color:black;
	font-size: 1.1em;
	text-align: left;
	
	
}

th {
	color:darkslategray;
	font-size: 0.8em;
	font-family: arial;
	font-style: normal;
	font-weight: bold;
	background:lightgrey;
	text-align:left;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 5px;
	padding-right: 5px;
	border-bottom: 0.25px solid #dddddd;
}
td {
	color:black;
	font-size: 0.8em;
	background:white;
	padding: 5px;
	border-bottom: 0.25px solid #dddddd;
	
}
tr {
	border-style: solid, 1px, blue;
}